/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 4, ../sass/_main.scss */
.app {
  	margin: 10px;
    width:90%;
    text-align: center;
}
/* line 10, ../sass/_main.scss */
.app .board {
    display: inline-block;
  	width: 100%;
    margin-top: 10px;
}
/* line 12, ../sass/_main.scss */
.app .board table {
	position: relative;
	text-align: center;
	margin: 0 auto;
	
}
/* line 15, ../sass/_main.scss */
.app .board td {
 	width: 30px; 
 	height: 30px;
  border: solid 2px white;

}
#backgroundIMG{
    z-index: -1;
  	position: absolute;
  	margin: 0 auto;
  	left:0px;
}
.colortext{
	color: white;
	margin:5px;
  text-align: center;
}
#magic_input{
  margin-bottom:15px;
}

#rivalBoard p{
 color: red; 
 text-align: center;
}
#info{
  color: blue;
}
#myBoard p{
  color: blue;
  text-align: center;
}
